<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C202144081장혜진</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        h1 {
            text-align: center;
            margin-top: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ffffff;
            padding: 8px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #e9edf4;
        }

        tr:nth-child(odd) {
            background-color: #d0d8e8;
        }

        td.left-align {
            text-align: left;
        }

        th {
            font-weight: bold;
            color: white;
            background-color: #5082bd;
        }

        .red-text {
            color: red;
        }

        button {
            background-color: #808080;
            color: white;
            padding: 5px 10px;
            border: #5082bd solid;
            cursor: pointer;
            margin-right: 5px;
            float: right;
            font-size: 20px;
        }

        .swal2-popup {
            font-size: 10px !important;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<h1>Front-end 과제</h1>
<div id="app">
    <ul>
        <!-- 학년 테이블 선택 체크박스 -->
        <div v-for="(table, index) in tables" :key="index">
            <input type="checkbox" :id="`checkbox-${index}`" v-model="selectedTables" :value="index">
            <label :for="`checkbox-${index}`">{{ table.name }}</label>
        </div>

        <!-- 선택한 테이블 표시 -->
        <div v-for="(table, index) in selectedTables" :key="index">
            <h2>{{ tables[table].name }}</h2>
            <!-- 행 추가, 삭제, 저장 버튼 -->
            <button @click="calculate(table)">저장</button>
            <button @click="deleteRow(table)">삭제</button>
            <button @click="addRow(table)">추가</button>

            <!-- 테이블 -->
            <table>
                <thead>
                <tr>
                    <th>이수</th>
                    <th>필수</th>
                    <th>과목명</th>
                    <th>학점</th>
                    <th>출석점수</th>
                    <th>과제점수</th>
                    <th>중간고사</th>
                    <th>기말고사</th>
                    <th>총점</th>
                    <th>평균</th>
                    <th>성적</th>
                </tr>
                </thead>
                <tbody>
                <!-- 테이블 행을 반복하며 데이터 표시 -->
                <tr v-for="(row, rowIndex) in tables[table].rows" :key="rowIndex"
                    @click="setClickedRow(table, rowIndex)">
                    <td>
                        <select v-model="row.subject">
                            <option value="교양">교양</option>
                            <option value="전공">전공</option>
                        </select>
                    </td>
                    <td>
                        <select v-model="row.required">
                            <option value="필수">필수</option>
                            <option value="선택">선택</option>
                        </select>
                    </td>
                    <!-- contenteditable = 사용자가 값 변경 -->
                    <td contenteditable="true" @input="updateValue(row, 'name', $event)">{{ row.name }}</td>
                    <td contenteditable="true" @input="updateValue(row, 'credit', $event)">{{ row.credit > 0 ? row.credit : '' }}</td>
                    <td contenteditable="true" @input="updateValue(row, 'attendance', $event)">{{ row.attendance > 0 ? row.attendance : '' }}</td>
                    <td contenteditable="true" @input="updateValue(row, 'assignment', $event)">{{ row.assignment > 0 ? row.assignment : ''}}</td>
                    <td contenteditable="true" @input="updateValue(row, 'midterm', $event)">{{ row.midterm > 0 ? row.midterm : ''}}</td>
                    <td contenteditable="true" @input="updateValue(row, 'final', $event)">{{ row.final > 0 ? row.final : ''}}</td>
                    <td>{{ row.total > 0 ? row.total : ''}}</td>
                    <td>{{ row.average > 0 ? row.average : ''}}</td>
                    <td :class="{ 'red-text': row.grade === 'F' }">{{row.grade}}</td>
                </tr>
                <!-- 합계 행 -->
                <tr id="total">
                    <td colspan="3">합계</td>
                    <td>{{ tables[table].total_credit > 0 ? tables[table].total_credit : ''}}</td>
                    <td>{{ tables[table].total_attendance > 0 ? tables[table].total_attendance : ''}}</td>
                    <td>{{ tables[table].total_assignment > 0 ? tables[table].total_assignment : ''}}</td>
                    <td>{{ tables[table].total_midterm > 0 ? tables[table].total_midterm : ''}}</td>
                    <td>{{ tables[table].total_final > 0 ? tables[table].total_final : ''}}</td>
                    <td>{{ tables[table].total_total > 0 ? tables[table].total_total : ''}}</td>
                    <td>{{ tables[table].total_average > 0 ? tables[table].total_average : ''}}</td>
                    <td>{{ tables[table].total_grade }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </ul>
    <p> [변경된 내역] 5초 후에 사라집니다. </p>
    <div v-for="(change, index) in changes" :key="index">
        <p v-if="change.type === 'add'">[{{ change.table }} 테이블] 새로운 행 추가 </p>
        <p v-else-if="change.type === 'delete'">[{{ change.table }} 테이블] 삭제 된 행 : {{ change.row.name }}</p>
        <p v-else-if="change.type === 'calculate'">[{{ change.table }} 테이블] 총학점: {{ change.oldTotalCredit }} -> {{ change.newTotalCredit }},
                                                                                 평균: {{ change.oldTotalAverage }} -> {{ change.newTotalAverage }},
                                                                                 총점: {{ change.oldTotalTotal }} -> {{ change.newTotalTotal }}</p>
    </div>
    <script>
        const app = Vue.createApp({
            // 각 학년 테이블
            data() {
                return {
                    tables: [
                        {name: '1학년', rows: []},
                        {name: '2학년', rows: []},
                        {name: '3학년', rows: []}
                    ],
                    changes: [], // 변경된 데이터를 저장할 배열
                    selectedTables: [], // 체크된 테이블을 저장할 배열
                    clickedRow: null //현재 마우스로 클릭한 행
                };
            },

            methods: {
                // 테이블 업데이트
                updateValue(row, field, event) {
                    // 숫자 형태의 데이터는 parseFloat을 사용하여 변환
                    let value = parseFloat(event.target.textContent);

                    // 중복 과목명 유효성 검사
                    if (field === 'name') {
                        value = event.target.textContent;
                        for (const table of this.tables) {
                            for (const otherRow of table.rows) {
                                if (otherRow !== row && otherRow.name === value) {
                                    Swal.fire({
                                        title: '',
                                        text: '이미 존재하는 과목입니다.',
                                        icon: 'warning',
                                        confirmButtonText: '확인'
                                    });
                                    // 현재 값 되돌리기
                                    event.target.textContent = row[field];
                                    return;
                                }
                            }
                        }
                    }

                    // 출석 및 과제 점수 유효성 검사
                    if (['attendance', 'assignment'].includes(field)) {
                        if (value < 0 || value > 20) {
                            Swal.fire({
                                title: '',
                                text: '0~20 사이의 값을 입력해주세요.',
                                icon: 'warning',
                                confirmButtonText: '확인'
                            });
                            // 현재 값 되돌리기
                            event.target.textContent = row[field] > 0 ? row[field] : '';
                            return;
                        }
                        // 중간 및 기말 점수 유효성 검사
                    } else if (['midterm', 'final'].includes(field)) {
                        if (value < 0 || value > 30) {
                            Swal.fire({
                                title: '',
                                text: '0~30 사이의 값을 입력해주세요.',
                                icon: 'warning',
                                confirmButtonText: '확인'
                            });
                            // 현재 값 되돌리기
                            event.target.textContent = row[field] > 0 ? row[field] : '';
                            return;
                        }
                    }

                    if (['credit', 'attendance', 'assignment', 'midterm', 'final'].includes(field)) {
                        row[field] = parseFloat(event.target.textContent) || 0;
                    } else {
                        // 과목명과 같은 문자열 데이터는 직접 할당
                        row[field] = event.target.textContent;
                    }

                    // 데이터 변경 후 총점, 평균, 성적을 재계산
                    this.calculate(this.tables.indexOf(row.table));
                },

                // 행 추가
                addRow(tableIndex) {
                    this.tables[tableIndex].rows.push({
                        subject: '교양',
                        required: '필수',
                        name: '',
                        credit: 0,
                        attendance: 0,
                        assignment: 0,
                        midterm: 0,
                        final: 0,
                        total: 0,
                        average: 0,
                        grade: ''
                    });

                    //변경된 내역
                    const newRow = {
                        subject: '교양',
                        required: '필수',
                        name: '',
                        credit: 0,
                        attendance: 0,
                        assignment: 0,
                        midterm: 0,
                        final: 0,
                        total: 0,
                        average: 0,
                        grade: ''
                    };

                    const change = {
                        type: 'add',
                        table: this.tables[tableIndex].name,
                        row: newRow
                    };
                    this.addChange(change);

                    // 행 추가시 합계 행 재계산
                    this.calculate(tableIndex);
                },

                // 행 삭제
                setClickedRow(tableIndex, rowIndex) {
                    this.clickedRow = {tableIndex, rowIndex};
                },

                deleteRow(tableIndex) {
                    if (this.clickedRow && this.clickedRow.tableIndex === tableIndex) {
                        const deletedRow = this.tables[tableIndex].rows.splice(this.clickedRow.rowIndex, 1)[0];
                        this.tables[tableIndex].rows.splice(this.clickedRow.rowIndex, 1);
                        this.clickedRow = null;

                        const change = {
                            type: 'delete',
                            table: this.tables[tableIndex].name,
                            row: deletedRow
                        };
                        this.addChange(change);

                        // 행 삭제시 합계 행 재계산
                        this.calculate(tableIndex);
                    }
                },

                // 저장(=계산)
                calculate(tableIndex) {
                    const table = this.tables[tableIndex];
                    const oldTotalCredit = table.total_credit;
                    const oldTotalAverage = table.total_average;
                    const oldTotalTotal = table.total_total;

                    // 합계 행 변수 초기화
                    table.total_credit = 0;
                    table.total_attendance = 0;
                    table.total_assignment = 0;
                    table.total_midterm = 0;
                    table.total_final = 0;
                    table.total_total = 0;
                    table.total_average = 0;
                    table.total_grade = '';

                    // 평균 계산에 사용할 과목 수
                    let subjectCount = 0;

                    // 각 행을 반복하며 총점, 평균, 성적을 계산
                    for (const row of table.rows) {
                        // 1학점은 계산에서 제외
                        if (row.credit !== 1) {
                            subjectCount++;
                        }
                        // 각 열의 점수 변수
                        // 유효하지 않은 값(예: 빈 문자열)이 있을 경우 0으로 처리
                        const attendance = parseFloat(row.attendance) || 0;
                        const assignment = parseFloat(row.assignment) || 0;
                        const midterm = parseFloat(row.midterm) || 0;
                        const final = parseFloat(row.final) || 0;

                        // 합계 행의 점수 변수
                        table.total_credit += parseFloat(row.credit) || 0;
                        table.total_attendance += parseFloat(row.attendance) || 0;
                        table.total_assignment += parseFloat(row.assignment) || 0;
                        table.total_midterm += parseFloat(row.midterm) || 0;
                        table.total_final += parseFloat(row.final) || 0;


                        // 과목별 총점 계산
                        row.total = attendance + assignment + midterm + final;

                        // 과목별 성적 계산
                        // 학점이 1이면 P/NP로 계산
                        if (row.credit !== 1) {
                            if (row.total >= 95) {
                                row.grade = 'A+';
                            } else if (row.total >= 90) {
                                row.grade = 'A0';
                            } else if (row.total >= 85) {
                                row.grade = 'B+';
                            } else if (row.total >= 80) {
                                row.grade = 'B0';
                            } else if (row.total >= 75) {
                                row.grade = 'C+';
                            } else if (row.total >= 70) {
                                row.grade = 'C0';
                            } else if (row.total >= 65) {
                                row.grade = 'D+';
                            } else if (row.total >= 60) {
                                row.grade = 'D0';
                            } else {
                                row.grade = 'F';
                            }
                        } else if (row.credit === 1) {
                            if (row.total >= 60) {
                                row.grade = 'P';
                            } else {
                                row.grade = 'NP';
                            }
                        }

                        // 합계 행의 총 학점
                        table.total_total = table.total_attendance + table.total_assignment + table.total_midterm + table.total_final;

                        //  1학점은 계산에 포함하지 않음
                        if (row.credit === 1) {
                            table.total_credit -= 1;
                            table.total_attendance -= attendance;
                            table.total_assignment -= assignment;
                            table.total_midterm -= midterm;
                            table.total_final -= final;
                        }

                        // 합계 행의 총 평균
                        table.total_average = table.total_total / subjectCount;

                        // 합계 행의 총 성적
                        if (table.total_average >= 95) {
                            table.total_grade = 'A+';
                        } else if (table.total_average >= 90) {
                            table.total_grade = 'A0';
                        } else if (table.total_average >= 85) {
                            table.total_grade = 'B+';
                        } else if (table.total_average >= 80) {
                            table.total_grade = 'B0';
                        } else if (table.total_average >= 75) {
                            table.total_grade = 'C+';
                        } else if (table.total_average >= 70) {
                            table.total_grade = 'C0';
                        } else if (table.total_average >= 65) {
                            table.total_grade = 'D+';
                        } else if (table.total_average >= 60) {
                            table.total_grade = 'D0';
                        } else {
                            table.total_grade = 'F';
                        }
                    }

                    if (table.total_credit !== oldTotalCredit || table.total_average !== oldTotalAverage || table.total_total !== oldTotalTotal) {
                        const change = {
                            type: 'calculate',
                            table: table.name,
                            oldTotalCredit,
                            newTotalCredit: table.total_credit,
                            oldTotalAverage,
                            newTotalAverage: table.total_average,
                            oldTotalTotal,
                            newTotalTotal: table.total_total
                        };
                        this.addChange(change);
                    }

                    // 이수, 필수, 과목명 순으로 테이블 오름차순 정렬
                    table.rows.sort((a, b) => {
                        if (a.subject === b.subject) {
                            if (a.required === b.required) {
                                return a.name.localeCompare(b.name);
                            } else {
                                return a.required.localeCompare(b.required);
                            }
                        } else {
                            return a.subject.localeCompare(b.subject);
                        }
                    });

                }, // calculate()
                 addChange(change) {
                    this.changes.push(change);

                    setTimeout(() => {
                        const index = this.changes.indexOf(change);
                        if (index > -1) {
                            this.changes.splice(index, 1);
                        }
                    }, 5000);  // 5초 후 실행
                },
            },
        });
        app.mount('#app');
    </script>
</div>
</body>
</html>
